@import '~styles/variables'

.button
  border: 1px solid darken($highlightblue, 10%)
  border-radius: 2px
  background-color: $highlightblue
  color: $white
  cursor: pointer

  &:hover
    background-color: lighten($highlightblue, 4%)

  &[disabled]
    pointer-events: none
    background-color: #CCC
