@import '~styles/variables'

.wrapper
  display: flex
  flex-grow: 1

.envelopes
  background-color: $lightblue
  border-right: 1px solid $hilfigher

.designationList
  flex-grow: 1

.blankSlate
  background-color: blue
