:global
  html,
  body
    background-color: #EEE
    font-family: sans-serif
    font-size: 18px
    padding: 1rem 2rem

.logout
  height: 1rem
  width: 1rem
  position: absolute
  top: .5rem
  right: .5rem
  cursor: pointer

input[type="text"],
input[type="password"],
select
  border-radius: 4px
  padding: .4em
